body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color: #6e6e67;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
  }
  .main {
    flex: 1;
  }
  
  h1 {
    font-size: 5rem;
    color: rgb(35, 35, 166);
  }
  h2{
    font-size: 5rem;
    color:red;
  }
  footer {
    text-align: right;
    color: rgb(21, 144, 74);
  }
  
  